<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>58</integer>
	<key>Time Stamp</key>
	<real>1647955278.1709461</real>
	<key>UUID</key>
	<string>76F345B1-F4D3-4404-88F8-EBAB9E2AF10C</string>
</dict>
</plist>
